.counter-container{
    font-family: Arial, Helvetica, sans-serif;
    text align: right: color: blue;;;
    background-color: red;
    :no-button
    
}
.body{
    background-color: blanchedalmond;
}